*{box-sizing:border-box}

body{
  margin:0;
  font-family:Arial,Helvetica,sans-serif;
  background:#000;
  color:#fff;
}

/* NAVBAR */
.navbar{
  position:sticky;
  top:0;
  z-index:10;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:12px 20px;
  background:rgba(0,0,0,0.9);
}

.logo{
  color:#e50914;
  font-size:22px;
  font-weight:bold;
}

.navbar input{
  padding:8px;
  border-radius:4px;
  border:none;
  width:160px;
}

/* HERO */
.hero{
  background:linear-gradient(to top,#000,rgba(0,0,0,0.4)),
  url("https://wallpaperaccess.com/full/2703652.jpg") center/cover;
  padding:80px 20px;
}

.hero h1{
  font-size:32px;
}

.hero p{
  color:#ccc;
}

/* ROW */
.row{
  padding:20px;
}

.row h2{
  margin-bottom:10px;
}

/* CARDS */
.cards{
  display:flex;
  gap:15px;
  overflow-x:auto;
}

.cards::-webkit-scrollbar{
  display:none;
}

.card{
  min-width:160px;
  height:240px;
  position:relative;
  border-radius:8px;
  overflow:hidden;
  transition:0.3s;
}

.card img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.card:hover{
  transform:scale(1.15);
  z-index:5;
}

.overlay{
  position:absolute;
  bottom:0;
  width:100%;
  padding:8px;
  background:linear-gradient(to top,rgba(0,0,0,0.9),transparent);
  font-size:14px;
}
