body{
  margin:0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top, #0a1a3a, #000);
  color:#fff;
}

header{
  background:#0b1d4d;
  padding:12px;
  font-size:22px;
}

header input{
  width:100%;
  margin-top:8px;
  padding:8px;
  border-radius:5px;
  border:none;
}

.container{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(160px,1fr));
  gap:15px;
  padding:15px;
}

.card{
  background:#111;
  border-radius:12px;
  overflow:hidden;
  text-decoration:none;
  color:#fff;
  transition:0.3s;
}

.card:hover{
  transform:scale(1.05);
}

.card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.info{
  padding:10px;
}
