*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#020814;
  color:#fff;
}

/* NAVBAR */
.navbar{
  display:flex;
  align-items:center;
  gap:12px;
  padding:12px 16px;
  background:#000;
}

.logo{
  color:#e50914;
  font-weight:bold;
  font-size:16px;
}

.navbar input{
  flex:1;
  padding:8px 12px;
  border-radius:20px;
  border:none;
  outline:none;
}

/* HERO */
.hero{
  padding:20px 16px;
  background:linear-gradient(to right,#000,#020814);
}

.hero h1{
  font-size:22px;
}

.hero p{
  font-size:14px;
  opacity:.8;
}

/* ROW */
.row{
  margin-top:10px;
}

.row h2{
  padding:0 16px;
  font-size:18px;
  margin-bottom:10px;
}

/* NETFLIX ROW */
.cards{
  display:flex;
  gap:12px;
  overflow-x:auto;
  padding:0 16px 20px;
}

.cards::-webkit-scrollbar{
  display:none;
}

/* CARD */
.card{
  min-width:140px;
  background:#111;
  border-radius:10px;
  overflow:hidden;
  transition:.3s;
}

.card:hover{
  transform:scale(1.08);
}

.card img{
  width:100%;
  height:200px;
  object-fit:cover;
  display:block;
}

/* INFO */
.overlay{
  padding:6px;
}

.overlay h3{
  font-size:13px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.overlay span{
  color:#f5c518;
  font-size:12px;
}
